NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_WEBHOOK_SECRET=
INGEST_SECRET=
CRON_SECRET=
TOKEN_SIGNING_SECRET=
GITHUB_TOKEN=
GITHUB_REPO=bywillvass/ginga-global-group-site
GITHUB_BLOG_FILE=blog-posts.json
GITHUB_BRANCH=main
